<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>fileupload-servlet3-spring4-demo</title>

    <style type="text/css">
        .container {
            width: 1024px;
            margin: 0px auto;
            padding: 15px 15px;
        }

        img {
            width: 240px;
            height: 320px;
        }

        #msg {
            display: none;
        }

    </style>

</head>
<body>


<div class="container">

    <div>
        <p>
            纯Java配置servlet3结合spring4文件上传于下载例子.
        </p>
        <p>
            <a href="https://github.com/lanmingle/fileupload-servlet3-spring4-demo" style="float: right" target="_blank">源码地址</a>
        </p>
    </div>
    <div class="fileContainer">

        <div id="form">
            <form method="post" enctype="multipart/form-data" th:action="@{/file/push}">
                <input type="file" name="file"/>
                <input type="submit" value="上传"/>
            </form>
        </div>
        <div id="msg">服务器文件已经存储了10个,不能再上传了.删除后再上传,请勿恶搞.</div>
        <div>
            <table border="1">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>路径</td>
                    <td>名称</td>
                    <td>操作</td>
                    <td>预览</td>
                </tr>
                </thead>
                <tbody id="listBody" th:attr="basePath=@{/}">
                </tbody>
            </table>
        </div>

    </div>

</div>

<script src="http://code.jquery.com/jquery-1.11.2.min.js" charset="utf-8" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" charset="utf-8" type="text/javascript"></script>
<script th:src="@{/resources/js/home.js}" charset="utf-8" type="text/javascript"></script>

</body>
</html>