<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>文档处理</title>
</head>
<body>

测试文件上传
<form method="post" enctype="multipart/form-data" th:action="@{/xlsx/push}">
    <input type="text" name="name"/>
    <input type="file" name="excelFile"/>
    <input type="submit" value="上传"/>
</form>

</body>
</html>